body{
  font-size: 104px;
}
input{
  font-size: 22px;
  text-indent: 15px;
  border-radius: 12px;
  overflow: hidden;
  
}
 .wallpaper{
    background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/ankle.png) no-repeat 0 0;
    width: 1600px;
    height: 720px;
    top: 4240px;
   }

   #arrow{
      width: 80px;
      height: 80px;
      
   }
   
  
   #run{
   width: 950px;
   height: 104px;
   margin-left: 20px;
   top: 4256px;
   display: block;
   align-items: center;
   letter-spacing: -0.02em;
   color: #FFFFFF;
 }

 #world{
   width: 1000px;
   height: 104px;
   margin-left: 20px;
   top: 4352px;
   display: block;
   /* align-items: center; */
   letter-spacing: -0.02em;
   color: #FFFFFF;
 }

 #it{
   width: 1280px;
   height: 104px;
   margin-left: 20px;
   top: 4456px;
   display: block;
   align-items: center;
   letter-spacing: -0.02em;
   color: #FFFFFF;
 }

   .formulario{
   width: 613px;
   height: 838px;
   left: 907px;
   margin-top:48px;
   background: #F3F3F3;
   border-radius: 0px 8px 8px 8px;
   border: 4px solid #FFFFFF     ;

  }
  .form input{
   background: #ffffff;
   border-radius: 12px;    
 }

 #title{
   width: 485px;
   margin: 48px;
   margin-top: 40px;
   left: 955px;
   top: 5200px;
   font-size: 40px;
   line-height: 48px;
   display: flex;
   align-items: center;
 }
   .nome{
      width: 517px;
      height: 76px;
      margin-left: 48px;
      margin-top: 40px;
    }

    .email{
      width: 517px;
      height: 76px;
      margin-left: 48px;
      margin-top: 24px;
  }

  #comentarios{
   width: 517px;
   height: 260px;
   margin-left: 48px;
   margin-top: 24px;
   resize: none;
   text-indent: 15px;
   padding-top: 10px;
   border-radius: 8px;
   font-size: 22px;
 
 }

 #checkbox{
   width: 28px;
   height: 28px;
   left: 955px;
   top: 5804px;
   background: #ffffff;
   border: 2px solid #d2d2d2;
   box-sizing: border-box;
   border-radius: 4px;
   margin: 0px 11px 0px 50px;
 }
 label{
   width: 470px;
   height: 28px;
   left: 999px;
   top: 5806px;
   font-size: 20px;
   display: flex;
   align-items: center;
   color: #969696;
   margin-top: 40px;
 }
 #btn_enviar{
   width: 517px;
   height: 84px;
   border: 2px solid #1f1f1f;
   box-sizing: border-box;
   border-radius: 0px 8px 8px 0px;
   margin-left: 48px;
   margin-top: 24px;
 }
